<fieldset>
  <legend>heroes.component</legend>
<h2>My Heroes</h2>
<div style="display: flex;">
  <div style="width: 50%;">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
  
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </div>
  
  <ul class="heroes" style="width: 50%;">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
</div>

</fieldset>